header.header 
    .container 
        .header__row
            a.logo(href="index.html")
                img(src="./assets/imgs/logo 1.svg", alt="logo")
            menu.nav 
                a(href="#").nav__link Skills
                a(href="#").nav__link Portfolio
                a(href="#").nav__link Video 
                a(href="#").nav__link Price
                a(href="#").nav__link Contacts
                div.nav__switch
                    span.nav__switch_en en 
                    span / 
                    span.nav__switch_ru ru
        h1.header__name Alexa Rise
        p.header__slogan Save sincere emotions, romantic feelings and happy moments of life together with professional photographer Alexa Rise
        button.header__button Hire me             